/* Text Formatting with CSS */

*{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 18px;
}

body {
    padding: 40px;
    font-family: Georgia, Times, serif;
    color: #373737;
}

h1,h2,h3,h4,h5,h6{
    margin: 10px 0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    
    /* A NOTE ON FONT-WEIGHT
    
    The other values you can use are:
    -bolder
    -lighter
    
    The following are equivalent to "normal"
    -100
    -200
    -300
    -400
    
    The following are equivalent to "bold"
    -500
    -600
    -700
    
    For heavier weights (not supported in all fonts)
    -800
    -900
    */
    
}

h1{
    font-size: 3.6em; /* 3.6x the base font-size (which is 18px in our case)*/
}

h2{
    font-size 2.6em;/* 2.6x the base font-size */
}

h3 { 
    font-size: 1.6em;/* 1.6x the base font-size */
    letter-spacing: -1px; /* the value can be normal as a default or numerical value*/
    text-indent: 80px; /* Indents the first line of the paragraph. Can be numerical value or % */
    line-height: 1.3;
    
    /* A NOTE ON LINE HEIGHT
    
    Line height is how tall the lines of the text are within an element.
    
    You can use a simple numeric value, like "3",
    which will make the line height 3x the height of the font size
    
    You also use a lenght like "px" or "em"
    
    Percentages are also accepted */
}

span{
    text-decoration: line-through;
    
    /* A NOTE ON TEXT DECORATION
    
    You may use the following values:
    -underline
    -overline
    -line-through
    -none
    
    Underlines are usually best left for links only */
}

em{
    text-transform: : capitalize;
    
    /* A NOTE ON TEXT TRANSFORM
    
    You may use the following values:
    -uppercase
    -lowercase
    -capitalize
    -none
    */
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}











